
######################
# NetBeans
######################
pms/nbproject/*
pms/build/*
pms/nbbuild/*
pms/dist/
pms/nbdist/
pms/nbactions.xml
pms/nb-configuration.xml


######################
# Eclipse
######################
