@CHARSET "UTF-8";


body {
    margin: 0 auto;
}

.header {
    height:60px;
    width:100%;
    background-image: linear-gradient(#FF6600, #FF9900 60%, #FF6600) !important;
    background-repeat: no-repeat;
    border-bottom: 1px solid #FF9900;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    filter: none;
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
}

.logo {
    float: left;
    height: 55px;
    width: 65px;
    margin: 5px;
}

.header-text {
    color:#fff;
    font-family: "Shojumaru",cursive,Arial,serif !important;
    font-size: 22px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin:10px 10px;
}

.footer {
    height:40px;
    width:100%;
    color:#fff;
    background-color: #FF6600 !important;
    margin-top: 100px;

}

.footer-text {
    color:#fff;
    font-size: 16px;
    letter-spacing: 2px;
    width: 518px;
    height: 20px;
    margin:0 auto;
    padding-top: 10px;
}

.success-message {
	font-size: 22px;
	color: green;
}

.failure-message {
	font-size: 22px;
	color: red;
}

.ui-widget-header {
    background: none !important;
    background-color: #FF6600 !important;
    color: #FFF !important;
}

.ui-panel {
    border: 1px solid #FF9900 !important;
}


input {
        border: 1px solid #FF9900 !important;
        background: none !important;
        background-color: #FF9900 !important;
        color: #000 !important;
        height: 30px !important;
        
}

table tr {
    height: 60px !important;
}


.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.submit {
    height: 35px !important;
    border-radius: 5px;
    
    
}

.success-class {
    font-size: 16px;
    font-weight: bold;
    color: #b0dd28 !important;
}

.failure-class {
    font-size: 16px;
    color: #FF6600 !important;
    font-weight: bold;
}

.text-entry_size{
    width: 200px !important;
}
.combo-box-size{
    width: 300px !important;
}
.ui-combobox-cell-right{
    display: table-cell;
    white-space: nowrap;
    background-color: #FF9900;
}

